---
console.log("Javascript");
---
<nav class="navbar">
    <div class="navbar-brand">
        <ul class="navbar-navigation">
            <a class="navbar-hip" href="/" id="inicio">
                <li class="navbar-list">Inicio</li>
            </a>
            <a class="navbar-hip" href="/forArtist" id="for-artists">
                <li class="navbar-list">For artists</li>
            </a>
            <a class="navbar-hip" href="/branding" id="branding">
                <li class="navbar-list">Branding</li>
            </a>
            <a class="navbar-hip" href="/ux-ui" id="ux-ui">
                <li class="navbar-list">UX/UI</li>
            </a>
            <a class="navbar-hip" href="/merch" id="merch">
                <li class="navbar-list">Merch</li>
            </a>
        </ul>
    </div>
    <div id="nav">
        <div class="hamburger-menu" id="hamburger-menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="dropdown-menu" id="dropdown-menu">
            <a href="/" class="dropdown-link" id="dropdown-inicio">Inicio</a>
            <a href="/forArtist" class="dropdown-link" id="dropdown-for-artists">For Artists</a>
            <a href="/branding" class="dropdown-link" id="dropdown-branding">Branding</a>
            <a href="/ux-ui" class="dropdown-link" id="dropdown-ux-ui">UX/UI</a>
            <a href="/merch" class="dropdown-link" id="dropdown-merch">Merch</a>
            <a href="#contacto" class="dropdown-link" id="contact-btn">Contacto</a>
        </div>
    </div>
</nav>

<style>
    .navbar {
        display: flex; /* Ajuste el contenido al tamaño del contenido interior */
        border-radius: 1vh;
        background: #4d4d4d;
        box-shadow: 0vh 0.4vh 0.4vh 0vh rgba(0, 0, 0, 0.25);
        color: white;
        align-items: center;
        justify-content: center;
    }

    .navbar-brand {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-navigation {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .navbar-list {
        margin: 0 2vw;
        font-size: 2vh;
        font-family: "Apfel Grotezk";
    }

    .navbar-hip {
        color: white;
        text-decoration: none;
        padding: 1.5vh 2vw;
        display: block;
    }

    .navbar-hip.active {
        color: black;
        background: #fff;
        border-radius: 1vh;
    }

    .navbar-list.active .navbar-hip {
        color: black;
        background: #fff;
        border-radius: 1vh;
    }

    .hamburger-menu {
        display: none; /* Oculto por defecto */
        flex-direction: column;
        justify-content: space-around;
        width: 30px; /* Tamaño fijo en píxeles */
        height: 20px; /* Tamaño fijo en píxeles */
        cursor: pointer;
        transition: all 0.3 ease-in-out;
    }

    .bar {
        width: 100%;
    height: 3px; /* Tamaño fijo en píxeles */
        background-color: #fff;
        transition: 0.3s;
    }

    .dropdown-menu {
        display: none; /* Oculto por defecto */
        flex-direction: column;
        position: absolute;
        top: 6vh;
        background-color: #262525;
        border: 0.1vh solid #fff;
        border-radius: 0.8vh;
        padding: 1vh;
        width: 7em;
        z-index: 1000;
    }

    .dropdown-link {
        margin: 0.5vh 0;
        padding: 5%;
        color: #fff;
        text-decoration: none;
        font-family: "ApfelGrotezkMittel";
        font-size: 1.6vh;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }

    .dropdown-link:hover {
        color: black;
        background: #fff;
        border-radius: 1vh;
    }

    .dropdown-menu.show {
        display: flex; /* Mostrar el menú cuando esté activo */
    }

    .navbar-hip.active,
    .dropdown-link.active {
        color: black;
        background: #fff;
        border-radius: 1vh;
    }

    @media only screen and (max-width:1200px)
    {

        .hamburger-menu {
        display: flex;
    }

    .navbar-brand, .navbar-navigation {
        display: none;
    }

        .navbar-list
        {
            font-size:3vh
        }
        .ls-buttons {
            display: none;
        }

        #nav {
            display: flex;
            position: absolute;
            top: 25%;
            left: 5%;
        }

        .dropdown-menu {
            display: none;
        }

        .navbar-brand {
            display: none;
        }
    

    .hamburger-menu.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Ajuste para asegurar que la "X" esté alineada */
.hamburger-menu.active .bar:nth-child(1),
.hamburger-menu.active .bar:nth-child(3) {
    transform-origin: center;
}
    }

</style>

<script>
    const hamburgerMenu = document.getElementById("hamburger-menu");
    const dropdownMenu = document.getElementById("dropdown-menu");
    
    if (hamburgerMenu && dropdownMenu) {
        hamburgerMenu.addEventListener("click", () => {
            hamburgerMenu.classList.toggle("active");
            dropdownMenu.classList.toggle("show");
        });
    }
    
    document.addEventListener("DOMContentLoaded", () => {
        const currentPath = window.location.pathname;
        const navLinks = document.querySelectorAll(".navbar-hip");
        const dropdownLinks = document.querySelectorAll(".dropdown-link");
        let activeLink: HTMLElement | null = null;
        let activeDropdownLink: HTMLElement | null = null;
        
        navLinks.forEach((link) => {
            if (link.getAttribute("href") === currentPath) {
                link.classList.add("active");
                activeLink = link as HTMLElement;
            }
        
            link.addEventListener("click", () => {
                if (activeLink) activeLink.classList.remove("active");
                link.classList.add("active");
                activeLink = link as HTMLElement;
            });
        });
        
        dropdownLinks.forEach((link) => {
            if (link.getAttribute("href") === currentPath) {
                link.classList.add("active");
                activeDropdownLink = link as HTMLElement;
            }
        
            link.addEventListener("click", () => {
                if (activeDropdownLink)
                    activeDropdownLink.classList.remove("active");
                link.classList.add("active");
                activeDropdownLink = link as HTMLElement;
            });
        });
    });
</script>
