---
console.log("Javascript");
---

<nav class="navbar">
    <div class="navbar-brand">
        <ul class="navbar-navigation">
            <a class="navbar-hip" href="/" id="inicio">
                <li class="navbar-list">Inicio</li>
            </a>
            <a class="navbar-hip" href="/forArtist" id="for-artists">
                <li class="navbar-list">For artists</li>
            </a>
            <a class="navbar-hip" href="/branding" id="branding">
                <li class="navbar-list">Branding</li>
            </a>
            <a class="navbar-hip" href="/ux-ui" id="ux-ui">
                <li class="navbar-list">UX/UI</li>
            </a>
            <a class="navbar-hip" href="/merch" id="merch">
                <li class="navbar-list">Merch</li>
            </a>
        </ul>
    </div>
    <div id="nav">
        <div class="hamburger-menu" id="hamburger-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <div class="dropdown-menu" id="dropdown-menu">
            <a href="/" class="dropdown-link" id="dropdown-inicio">Inicio</a>
            <a href="/forArtist" class="dropdown-link" id="dropdown-for-artists"
                >For Artists</a
            >
            <a href="/branding" class="dropdown-link" id="dropdown-branding"
                >Branding</a
            >
            <a href="/ux-ui" class="dropdown-link" id="dropdown-ux-ui">UX/UI</a>
            <a href="/merch" class="dropdown-link" id="dropdown-merch">Merch</a>
            
        </div>
    </div>
</nav>

<style>
    .navbar {
        display: flex; /* Ajuste el contenido al tamaño del contenido interior */
        border-radius: 1vh;
        background: #4d4d4d;
        box-shadow: 0vh 0.4vh 0.4vh 0vh rgba(0, 0, 0, 0.25);
        color: white;
        align-items: center;
        justify-content: center;
    }

    .navbar-brand {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-navigation {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .navbar-hip,
.dropdown-link {
    transition: background-color 0.3s, color 0.3s, border-radius 0.3s, padding 0.3s; /* Transiciones suaves */
    border-radius: 1vh;
}

.navbar-hip.active,
.navbar-hip:hover,
.dropdown-link.active,
.dropdown-link:hover {
    color: black;
    background: #fff;
    border-radius: 1vh; /* Para asegurar que el borde no desaparezca */
    padding: 1.5vh 2vw; /* Ajusta según sea necesario */
}

    .navbar-list {
        margin: 0 2vw;
        font-size: 2vh;
        font-family: "Apfel Grotezk";
    }

    .navbar-hip {
    color: white;
    text-decoration: none;
    padding: 1.5vh 2vw;
    display: block;
    transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */
}

    .navbar-hip.active {
        color: black;
        background: #fff;
        border-radius: 1vh;
    }

    .navbar-hip.active,
.navbar-hip:hover {
    color: black;
    background: #fff;
    border-radius: 1vh;
}
    .dropdown-menu {
        display: none; /* Oculto por defecto */
        flex-direction: column;
        position: absolute;
        top: 6vh;
        background-color: #262525;
        border: 0.1vh solid #fff;
        border-radius: 0.8vh;
        padding: 1vh;
        width: 7em;
        z-index: 1000;
    }

    .dropdown-link {
    margin: 0.5vh 0;
    padding: 5%;
    color: #fff;
    text-decoration: none;
    font-family: "ApfelGrotezkMittel";
    font-size: 1.6vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */
}

    .dropdown-link:hover {
        color: black;
        background: #fff;
        border-radius: 1vh;
    }

    .dropdown-menu.show {
        display: flex; /* Mostrar el menú cuando esté activo */
    }

    .dropdown-link.active,
.dropdown-link:hover {
    color: black;
    background: #fff;
    border-radius: 1vh;
}

    .hamburger-menu {
    display: none; /* Oculto por defecto */
    flex-direction: column;
    justify-content: space-between;
    width: 30px; /* Tamaño fijo en píxeles */
    height: 24px; /* Tamaño fijo en píxeles */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.hamburger-menu span {
    width: 100%;
    height: 2px; /* Tamaño fijo en píxeles */
    background-color: #fff;
    transition: transform 0.3s, opacity 0.3s; /* Asegura que todas las transformaciones sean suaves */
}

/* Transformaciones de la "X" */
.hamburger-menu.active span:first-child {
    transform: rotate(45deg) translate(10px, 5px); /* Ajuste de la traducción */
}

.hamburger-menu.active span:nth-child(2) {
    opacity: 0; /* Desaparece la barra del medio */
}

.hamburger-menu.active span:last-child {
    transform: rotate(-45deg) translate(10px, -5px); /* Ajuste de la traducción */
}

/* Mostrar el menú hamburguesa en pantallas más pequeñas */
@media only screen and (max-width: 1200px) {
    .hamburger-menu {
        display: flex;
    }

    .navbar-brand, .navbar-navigation {
        display: none;
    }

    #nav {
        display: flex;
        position: absolute;
        top: 25%;
        left: 5%;
    }

    .dropdown-menu {
        display: none;
    }

    .dropdown-menu.show {
        display: flex;
    }
}
</style>

<script>
    const hamburgerMenu = document.getElementById("hamburger-menu");
    const dropdownMenu = document.getElementById("dropdown-menu");

    if (hamburgerMenu && dropdownMenu) {
        hamburgerMenu.addEventListener("click", () => {
            hamburgerMenu.classList.toggle("active");
            dropdownMenu.classList.toggle("show");
        });
    }

    document.addEventListener("DOMContentLoaded", () => {
    const currentPath = window.location.pathname;
    const navLinks = document.querySelectorAll(".navbar-hip");
    const dropdownLinks = document.querySelectorAll(".dropdown-link");
    let activeLink: Element | null = null;
    let activeDropdownLink: Element | null = null;

    // Set active link based on the current path
    navLinks.forEach((link) => {
        if (link.getAttribute("href") === currentPath) {
            link.classList.add("active");
            activeLink = link;
        }

        // Handle hover effect
        link.addEventListener("mouseenter", () => {
            if (activeLink) activeLink.classList.remove("active");
        });

        link.addEventListener("mouseleave", () => {
            if (activeLink) activeLink.classList.add("active");
        });

        // Handle click event to update the active link
        link.addEventListener("click", () => {
            if (activeLink) activeLink.classList.remove("active");
            link.classList.add("active");
            activeLink = link;
        });
    });

    // Set active dropdown link based on the current path
    dropdownLinks.forEach((link) => {
        if (link.getAttribute("href") === currentPath) {
            link.classList.add("active");
            activeDropdownLink = link;
        }

        // Handle hover effect for dropdown links
        link.addEventListener("mouseenter", () => {
            if (activeDropdownLink) activeDropdownLink.classList.remove("active");
        });

        link.addEventListener("mouseleave", () => {
            if (activeDropdownLink) activeDropdownLink.classList.add("active");
        });

        // Handle click event to update the active dropdown link
        link.addEventListener("click", () => {
            if (activeDropdownLink) activeDropdownLink.classList.remove("active");
            link.classList.add("active");
            activeDropdownLink = link;
        });
    });
});
</script>
