---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<base href="Post-Mors" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="" href="" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		font-family: "Apfel Grotezk";
	}
	.btn {
    padding: 8px 23px;
    border-radius: 25px;
    border: 1px solid #fff;
    background-color: transparent;
    color: white;
    font-family: "Apfel Grotezk";
    font-size: 1rem; /* Cambiar a rem para que se ajuste al tamaño de la fuente */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
</style>
