---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout title="For Artist">
    <main>
        <div class="container">
            <div class="header">
                <img class="logo" src="/logo.png" />
                <div id="nav">
                    <Nav />
                </div>
            </div>
            <div class="content-container">
            <section class="hero">
                <h1 class="hero-tittle">For Artists</h1>
                <p class="hero-text">
                    Construcción de Roll-Outs, merch, artes de tapa, visuales y
                    estética para <span id="hero-span">artistas argentinos</span
                    >.
                </p>
            </section>

            <section class="services">
                <div class="service service-fuga-mediante">
                    <h2 class="services-titles">Fuga Mediante</h2>
                    <div class="buttons">
                        <a href="/presupuesto" class="btn btn-presupuesto">Ver trabajo</a>
                    </div>
                </div>
                <div class="service service-vamos-pamos">
                    <h2 class="services-titles">
                        Vamos Pamos & The New Seasons
                    </h2>
                    <div class="buttons">
                        <a href="/presupuesto" class="btn btn-presupuesto">Ver trabajo</a>
                    </div>
                </div>
            </section>

            <section class="offerings">
                <h2 class="offering-title">Que ofrecemos</h2>
                <div class="box-container">
                    <div class="box">
                        <div class="box-content complete-pack">
                            <h1 class="box-tittle">Pack Completo</h1>
                            <p class="box-text">
                                 Arte de tapa, Flyers para redes, visuales,
                                merch, Spotify Canvas.
                            </p>
                            <div class="buttons-offering">
                                <a href="/presupuesto" class="btn btn-presupuesto">Pedir presupuesto</a>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-content">
                            <h1 class="box-tittle">Arte de Tapa</h1>
                            <p class="box-text">
                                 Distintas variaciones para la portada de tu
                                single, EP o LP.
                            </p>
                            <div class="buttons-offering">
                                <a href="/presupuesto" class="btn btn-presupuesto">Pedir presupuesto</a>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-content">
                            <h1 class="box-tittle">Roll-Out</h1>
                            <p class="box-text">
                                 Realizamos únicamente piezas gráficas para redes
                                sociales a partir de tu arte de tapa ya
                                existente.
                            </p>
                            <div class="buttons-offering">
                                <a href="/presupuesto" class="btn btn-presupuesto">Pedir presupuesto</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            </div>
        </div>
    </main>
</Layout>
<style>
    #nav {
       display: flex;
       position: relative;
       align-items: center;
       justify-content: center;
       padding: 20px;
   }
   
   body,
   main {
       min-height: 100%;
       margin: 0;
       padding: 0;
       background: #262525;
       display: flex;
       justify-content: center;
       flex-direction: column;
   }
   
   .container {
       padding: 0px 3%;
   }
   
   .header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
    background-color: #262525;
}

   .logo {
        position: absolute;
       width: 5.8%;
       height: auto;
       left: 0px;
   }
   
   .hero-tittle {
       color: #fff;
       font-family: "Apfel Grotezk";
       font-size: 50px;
       font-weight: 700;
   }
   
   .hero-text {
       width: 62%;
       color: #fff;
       font-family: "Apfel Grotezk";
       font-size: 50px;
       font-weight: 400;
   }
   
   #hero-span {
       font-weight: bold;
   }
   
   .services {
       display: flex;
       justify-content: start;
       gap: 10px;
       padding: 20px 0;
       flex-wrap: wrap; /* Permite que los elementos se envuelvan si es necesario */
   }
   
   .service {
       text-align: center;
       height: 35vh;
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       align-items: start;
       color: white;
       border-radius: 20px;
       box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
       padding: 10px;
       box-sizing: border-box;
   }
   
   .service-fuga-mediante {
    background-image: url("/fuga-mediante.png");
    width: 45em; /* Ajusta el ancho según tu imagen */
}

.service-vamos-pamos {
    background-image: url("/vamosPamos.png");
    width: 45em; /* Ajusta el ancho según tu imagen */
}

   
   .services-titles {
       font-family: "Neue Haas Grotesk Display Pro";
       color: white;
       font-size: 25px;
       font-weight: 700;
       padding: 0 3.5%;
   }
   
   .buttons {
       display: flex;
       justify-content: start;
       padding: 3.5%;
   }
   
   .btn {
       color: white;
       border-color: white;
   }
   
   .btn:hover {
       transition: background-color 0.3s ease;
       background-color: black;
       color: white !important;
   }
   
   .box-container {
       display: flex;
       gap: 20px;
       flex-wrap: wrap;
       justify-content: start;
       width: 90%;
       margin-bottom: 10%;
   }
   
   .box {
       border-radius: 29px;
       background-color: white;
       width: 29%;
       flex-grow: 1;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   }
   
   .box .btn {
       color: black;
       border-color: black;
   }
   
   .box-content {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       height: 100%;
       padding: 0 5%;
       box-sizing: border-box;
   }
   
   .box-text {
       color: black;
       font-family: "ApfelGrotezkFett";
       font-size: 1.8em; /* Usa unidades relativas para una mejor adaptabilidad */
       font-weight: 500;
       flex-grow: 1;
       margin: 0 0 20px 0; /* Margen inferior para separar el texto del botón */
   }
   
   .box-tittle {
       color: black;
       font-family: "ApfelGrotezkSatt";
       font-size: 1.8em; /* Usa unidades relativas para una mejor adaptabilidad */
       font-weight: 700;
   }
   
   .complete-pack {
       border-radius: 29px;
       background: radial-gradient(
           216.91% 103.24% at 97.78% 8.48%,
           #b22a2a 0%,
           #7271d1 100%
       );
   }
   
   .complete-pack .btn:hover {
       transition: background-color 0.3s ease;
       background-color: black;
       color: white !important;
       border-color: black;
   }
   
   .complete-pack .box-text,
   .complete-pack .box-tittle {
       color: white;
   }
   
   .complete-pack .btn {
       color: white;
       border-color: white;
   }
   
   .buttons-offering {
       padding: 1% 0 10% 0;
   }
   
   .offering-title {
       color: #fff;
       font-family: "Apfel Grotezk";
       font-size: 50px;
       font-weight: 700;
       margin-bottom: 20px;
   }
   
   /* Estilos para pantallas más pequeñas */
   @media only screen and (max-width: 1200px) {
    
        .header
        {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            padding: 20px;
            background-color: #262525;
        }

        .logo
        {
            position: relative;
            width: 15vh;
            height: auto;
            left: 0px;
        }

        #nav
        {
            position: absolute;
            left: 0;
        }

        .content-container
        {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .hero
        {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .hero-text
        {
            margin: 0% 0% 10% 0%;
            text-align: left;
        }

       .services {
           align-items: center; /* Alinea los elementos al centro */
       }
   
       .service {
           width: 100%; /* Asegura que las tarjetas de servicio se ajusten al ancho disponible */
           max-width: 35em;
           margin-bottom: 20px; /* Añade margen inferior para separar los elementos */
       }
   
       .offerings {
           display: flex;
           flex-direction: column;
           align-items: center;
       }
   
       .box-container {
        display: flex;
        justify-content: center;
           width:100%;
           align-items: center; /* Centra las cajas en pantallas pequeñas */
       }
   
       .box {
           width: 80%; /* Ajusta el ancho para pantallas más pequeñas */
           max-width: 500px; /* Establece un ancho máximo para evitar que las cajas se vuelvan demasiado grandes */
       }
   }
   
   @media only screen and (max-width: 768px) {


       .hero-tittle {
           font-size: 35px; /* Ajusta el tamaño de fuente para pantallas más pequeñas */
       }
   
       .hero-text {
           font-size: 35px; /* Ajusta el tamaño de fuente para pantallas más pequeñas */
           width: 80%; /* Asegura que el texto ocupe un ancho adecuado en pantallas pequeñas */
       }
   
       .box-text,
       .box-tittle {
           font-size: 1.5em; /* Ajusta el tamaño de fuente para pantallas más pequeñas */
       }
   
       .buttons-offering {
           padding: 1% 0 5% 0; /* Ajusta el padding para pantallas más pequeñas */
       }
   }
   </style>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        const checkScroll = (scrollContainer: HTMLElement, fadeScrollContainer: HTMLElement) => {
            if (scrollContainer.scrollLeft > 0) {
                fadeScrollContainer.classList.add('has-scroll-left');
            } else {
                fadeScrollContainer.classList.remove('has-scroll-left');
            }
            if (scrollContainer.scrollLeft + scrollContainer.clientWidth < scrollContainer.scrollWidth) {
                fadeScrollContainer.classList.add('has-scroll-right');
            } else {
                fadeScrollContainer.classList.remove('has-scroll-right');
            }
        };
    
        const initScrollFade = (containerId: string) => {
            const scrollContainer = document.getElementById(containerId);
            const fadeScrollContainer = scrollContainer?.parentElement as HTMLElement;
            if (!scrollContainer || !fadeScrollContainer) return;
    
            scrollContainer.addEventListener('scroll', () => checkScroll(scrollContainer, fadeScrollContainer));
            window.addEventListener('resize', () => checkScroll(scrollContainer, fadeScrollContainer));
            checkScroll(scrollContainer, fadeScrollContainer); // Initial check
        };
    
        initScrollFade('services-scroll-container');
        initScrollFade('offerings-scroll-container');
    });
    </script>