---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout title="Post Mors">
  <main>
    <div id="nav">
      <Nav />
    </div>
    <div class="grid-container">
      <div class="left-side">
        <div class="leftSide-container">
          <div class="logo-container">
            <img src="/Post-Mors/logo.png" alt="Logo" class="logo" />
          </div>
          <div class="subtitle-container">
            <p class="subtitle-text">
              Espacio de innovación y diseño. Argentino. <br /><span
                >Cero prejuicios.</span
              >
            </p>
          </div>
          <div class="ls-buttons">
            <button class="btn btn-ls">8-MANIFESTO</button>
            <button class="btn btn-ls">¿Quiénes somos?</button>
            <button class="btn btn-ls">Instagram</button>
            <button class="btn btn-ls">LinkedIn</button>
            <button class="btn btn-ls">Behance</button>
            <button class="btn btn-ls" id="contact-btn">Contacto</button>
          </div>
          <div class="form-container hidden" id="contact-form-container">
            <!-- Campos del formulario -->
            <p class="form-text">¡Contáctate con nosotros!</p>
            <div class="form-group">
              <form>
                <div class="up-form-group">
                  <input
                    class="up-text"
                    type="text"
                    id="up-text1"
                    name="up-text1"
                    placeholder="Nombre"
                  />
                  <input
                    class="up-text"
                    type="text"
                    id="up-text2"
                    name="up-text2"
                    placeholder="Email"
                  />
                </div>
                <textarea
                  id="textarea"
                  name="textarea"
                  placeholder="Contanos que necesitas..."></textarea>
                <input type="submit" value="Enviar Mensaje" id="mail-button" />
              </form>
            </div>
            <!-- Otros campos del formulario -->
          </div>
        </div>
      </div>

      <div class="right-side">
        <div class="box-container">
          <div class="box">
            <div class="box-content">
              <h1 class="box-tittle">For Artists</h1>
              <p class="box-text">
                Construcción de Roll-Outs, artes de tapa, visuales y estética
                para artistas argentinos.
              </p>
              <div class="buttons">
                <button class="btn btn-portfolio">Ver portfolio</button>
                <button class="btn btn-presupuesto">Pedir presupuesto</button>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="box-content">
              <h1 class="box-tittle">Branding</h1>
              <p class="box-text">
                Construcción de sistema complejo de Diseño de marca, rebrading o
                re-styling.
              </p>
              <div class="buttons">
                <button class="btn btn-presupuesto">Pedir presupuesto</button>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="box-content">
              <h1 class="box-tittle">UX/UI</h1>
              <p class="box-text">
                Prototipado de app, web app o landing page para tu
                emprendimiento o empresa.
              </p>
              <div class="buttons">
                <button class="btn btn-portfolio">Ver portfolio</button>
                <button class="btn btn-presupuesto">Pedir presupuesto</button>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="box-content">
              <h1 class="box-tittle">Merch</h1>
              <p class="box-text">
                Merchandising para artistas, empresas o emprendimientos.
              </p>
              <div class="buttons">
                <button class="btn btn-portfolio">Ver portfolio</button>
                <button class="btn btn-presupuesto">Pedir presupuesto</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
/* Estilos generales */

body,
html,
main {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: linear-gradient(#262525, #48560f); /* Fondo degradado */
  background-size: 100% 200%; /* El tamaño del fondo es el doble de la altura para permitir la animación */
  animation: gradient 5s ease infinite; /* Aplica la animación */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divide la pantalla en dos columnas iguales */
  padding: 2vh 2vw; /* Espacio alrededor del contenido */
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

main {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: relative;
  align-items: center;
}

.logo {
  width: 20vh; /* Ajusta a un tamaño relativo a la altura de la pantalla */
}
.logo-container {
  margin-bottom: -3vh;
}

#nav {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 2vh 2vw; /* Espacio alrededor del contenido */
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divide la pantalla en dos columnas iguales */
  margin: 0 5vw; /* Centrar el contenedor horizontalmente */
  max-width: 1200px; /* Ancho máximo del contenedor */
  padding: 2vh 2vw; /* Espacio alrededor del contenido */
}

.left-side {
  grid-column: 1; /* Asigna la columna 1 al lado izquierdo */
  margin-top: 3vh;
}

.right-side {
  grid-column: 2; /* Asigna la columna 2 al lado derecho */
}

.box-container {
  display: block;
  align-items: center;
  justify-self: center;
  margin-left: 5vw; /* Cambiar a vw para que se ajuste al tamaño de la pantalla */
  overflow-y: auto; /* Hace que el contenido sea desplazable */
  max-height: 80vh; /* Altura máxima del contenedor */
  scrollbar-width: none; /* Oculta la barra de desplazamiento para Firefox */
  -ms-overflow-style: none; /* Oculta la barra de desplazamiento para Internet Explorer */
}

.box-container::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento para Chrome, Safari y Edge */
}

.box {
  border-radius: 2.9vh;
  border: 0.1vh solid #fff;
  width: 95%; /* Cambiar a % para que se ajuste al tamaño de la pantalla */
  margin-bottom: 5vh;
  transition: background-color 0.3s ease, color 0.3s ease; /* Añade una transición suave */
}

.box:hover {
  background-color: white;
  box-shadow: 0vh 0.4vh 0.4vh 0vh rgba(0, 0, 0, 0.25);
  color: black;
}
.box:hover .box-text,
.box:hover .box-tittle,
.box:hover .btn {
  color: black; /* Cambia el color del texto a negro cuando el mouse está encima de .box */
}

.box:hover .btn {
  border: 0.1vh solid black;
}

.box:hover .btn:hover {
  transition: background-color 0.3s ease, color 0.3s ease; /* Añade una transición suave */
  background-color: black;
  color: white;
  border: 0.1vh solid white;
}

.box-content {
  padding: 2vh 2vw;
}

.box-text {
  color: #fff;
  font-family: "ApfelGrotezkFett";
  font-size: 2.86vh;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.box-tittle {
  color: #fff;
  font-family: "ApfelGrotezkSatt";
  font-size: 2.86vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  gap: 1vh 1vw;
}

.subtitle-container {
  display: flex;
  width: 63.6vh;
  align-items: left;
  justify-content: left;
}
.subtitle-text {
  color: #fff;
  font-family: "ApfelGrotezkMitter";
  font-size: 5vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}
.subtitle-text span {
  color: #fff;
  font-family: "ApfelGrotezkFett";
  font-size: 5vh;
  font-weight: bold;
}

.ls-buttons {
  display: block;
  align-items: left;
  justify-content: left;
  width: 90%;
  margin-top: -4vh;
}

.btn-ls {
  margin: 1vh 0.5vw;
  color: #fff;
  font-family: "ApfelGrotezkMittel";
  font-size: 1.6vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn:hover {
  background-color: white;
  color: black;
}

.form-group {
  display: block;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 93%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.form-text {
  color: #fff;
  font-family: "ApfelGrotezkMittel";
  font-size: 2.5vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form-container.show {
  display: block;
}

.form-group .up-text {
  width: 41%;
  height: 5.4vh;
  font-family: "Apfel Grotezk";
  margin-right: 1vw;
  padding-left: 5%;
  font-size: 2.5vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border: 0.1vh solid #fff;
  border-radius: 1.5vh;
}

.form-group textarea {
  width: 90%;
  font-family: "Apfel Grotezk";
  height: 12.3vh;
  padding-left: 5%;
  font-size: 1.8vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border: 0.1vh solid #fff;
  border-radius: 1.5vh;
}
.form-group input,
.form-group textarea {
  margin-bottom: 2vh;
}

textarea {
  padding-top: 5vh;
}

#mail-button {
  padding: 0.8vh 2.3vw;
  border-radius: 2.5vh;
  border: 0.1vh solid #fff;
  background-color: white;
  color: #000;
  font-family: "Apfel Grotezk";
  font-size: 1.6vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input::placeholder,
textarea::placeholder {
  color: #fff;
}

@media only screen and (max-width: 1280px)
  {
    .form-group textarea {
  font-family: "Apfel Grotezk";
  height: 7.5vh;
  padding-left: 5%;
  font-size: 1.8vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border: 0.1vh solid #fff;
  border-radius: 1.5vh;
}
.form-group .up-text {
  width: 40.5%;
  height: 3.4vh;
  font-family: "Apfel Grotezk";
  margin-right: 1vw;
  padding-left: 5%;
  font-size: 1.5vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border: 0.1vh solid #fff;
  border-radius: 1.5vh;
}


  }
  
    

  @media only screen and (max-width: 968px) {
  body,
  html,
  main {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(#262525, #48560f); /* Fondo degradado */
    background-size: 100% 200%; /* El tamaño del fondo es el doble de la altura para permitir la animación */
    animation: gradient 5s ease infinite; /* Aplica la animación */
    display:grid;
  }

  .grid-container {
    display: flex;
    flex-direction: column; /* Cambia a columna inversa en pantallas medianas */
    align-items: center;
    margin: 0 10vw; /* Ajustar margen */
    max-width: 80vw; /* Ancho máximo del contenedor */
    padding: 2vw; /* Espacio alrededor del contenido */
  }

  .left-side,
  .right-side {
    width: 100%; /* Asegurar que cada lado ocupe todo el ancho */
    padding-bottom: 5%;
  }

  .logo {
    width: 60%; /* Ajustar tamaño del logo */
  }

  .subtitle-text {
    font-size: 40px; /* Reducir tamaño de fuente */
  }

  .btn-ls {
    font-size: 14px; /* Ajustar tamaño de fuente de los botones */
  }

  .box-content {
    padding: 15px; /* Ajustar padding */
  }

  .box-text,
  .box-tittle {
    font-size: 24px; /* Ajustar tamaño de fuente */
  }
}

  /* Estilos para pantallas pequeñas (móviles) */
  @media only screen and (max-width: 480px) {
    .grid-container {
      margin: 0 3vw; /* Reducir el margen en pantallas pequeñas */
      padding: 1.5vw; /* Reducir el padding en pantallas pequeñas */
    }

    .logo {
      width: 80%; /* Ajustar tamaño del logo */
    }

    .subtitle-text {
      font-size: 30px; /* Reducir tamaño de fuente */
    }

    .btn-ls {
      font-size: 12px; /* Ajustar tamaño de fuente de los botones */
    }

    .box-content {
      padding: 10px; /* Ajustar padding */
    }

    .box-text,
    .box-tittle {
      font-size: 20px; /* Ajustar tamaño de fuente */
    }
  }
</style>

<script>
  const contactBtn = document.getElementById("contact-btn");
  const contactFormContainer = document.getElementById(
    "contact-form-container",
  );

  if (contactBtn) {
    contactBtn.addEventListener("click", () => {
      if (contactFormContainer) {
        contactFormContainer.style.display = "block";
      }
    });
  }
  if (contactFormContainer) {
    contactFormContainer.style.display = "block";
  }
</script>
