---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout title="For Artist">
    <main>
        <div class="container">
            <div class="header">
                <img class="logo" src="/logo.png" />
                <div id="nav">
                    <Nav />
                </div>
            </div>
            <div class="content-container">

            <h2 class="merch-tittle">Merch</h2>
            <p class="merch-text">Servicio de merch será introducido proximamente.</p>
            </div>
        </div>
    </main>
</Layout>

<style>
 #nav {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Espacio alrededor del contenido */
}

body,
main {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: #262525;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 20px;
        background-color: #262525;
    }

    .logo {
        position: absolute;
        width: 5.8%;
        height: auto;
        left: 0px;
    }

.container {
    padding: 0px 3%;
}


.merch-tittle
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
font-family: "Apfel Grotezk";
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.merch-text
{
    color: #FFF;
font-family: "Apfel Grotezk";
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
align-items: center;
justify-content: center;
}

@media only screen and (max-width: 1200px) {

    .header {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            padding: 20px;
            background-color: #262525;
        }

        .content-container
        {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .logo {
            position: relative;
            width: 15vh;
            height: auto;
            left: 0px;
        }

        #nav {
            position: absolute;
            left: 0;
        }

}


</style>
