---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout title="For Artist">
    <main>
        <div class="container">
            <div id="nav">
                <img class="logo" src="/logo.png" />
                <Nav />
            </div>
            <h2 class="merch-tittle">Merch</h2>
            <p class="merch-text">Servicio de merch será introducido proximamente.</p>
        </div>
    </main>
</Layout>

<style>
 #nav {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Espacio alrededor del contenido */
}

body,
main {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: #262525;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
    padding: 0px 3%;
}

.logo {
    width: 5.8%;
    height: 58%;
    flex-shrink: 0;
    display: absolute;
    position: absolute;
    top: 25%;
    left: 0%;
}

.merch-tittle
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
font-family: "Apfel Grotezk";
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.merch-text
{
    color: #FFF;
font-family: "Apfel Grotezk";
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
align-items: center;
justify-content: center;
}

</style>
