---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout title="Branding">
    <main>
        <div class="container">
            <div id="nav">
                <img class="logo" src="/logo.png" />
                <Nav />
            </div>
            <section class="hero">
                <h1 class="hero-tittle">UX/UI</h1>
                <p class="hero-text">
                    Prototipado de app, web app o landing page para tu emprendimiento o empresa. 
                </p>
            </section>

            <section class="services fade-scroll-container">
                <div class="scroll-container" id="services-scroll-container">
                    <div class="box-container-service">
                        <div class="service branding-fuga">
                            <video class="background-video" autoplay loop muted>
                                <source src="/fuga-video.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            <h2 class="services-titles">Link</h2>
                            <div class="buttons">
                                <button class="btn btn-presupuesto">Ver trabajo</button>
                            </div>
                        </div>
                        <div class="service branding-fuga2">
                            <h2 class="services-titles">Subte App</h2>
                            <div class="buttons">
                                <button class="btn btn-presupuesto">Ver trabajo</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>

            <section class="offerings">
                <h2 class="offering-title">Que ofrecemos</h2>
                <div class="fade-scroll-container">
                    <div class="scroll-container" id="offerings-scroll-container">
                        <div class="box-container">
                            <div class="box">
                                <div class="box-content complete-pack">
                                    <h1 class="box-tittle">Pack Completo</h1>
                                    <p class="box-text">
                                        Web/app completo con testeo y mantenimiento semanal. 
                                    </p>
                                    <div class="buttons-offering">
                                        <button class="btn btn-presupuesto">Pedir presupuesto</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="box-content">
                                    <h1 class="box-tittle">Web App</h1>
                                    <p class="box-text">
                                        Construcción de prototipado de tu Web App 
                                    </p>
                                    <div class="buttons-offering">
                                        <button class="btn btn-presupuesto">Pedir presupuesto</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="box-content">
                                    <h1 class="box-tittle">App</h1>
                                    <p class="box-text">
                                        Construcción de prototipado de App Mobile
                                    </p>
                                    <div class="buttons-offering">
                                        <button class="btn btn-presupuesto">Pedir presupuesto</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="box-content">
                                    <h1 class="box-tittle">Web</h1>
                                    <p class="box-text">
                                        Construcción de prototipado de tu Web
                                    </p>
                                    <div class="buttons-offering">
                                        <button class="btn btn-presupuesto">Pedir presupuesto</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</Layout>


<style>
#nav {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Espacio alrededor del contenido */
}

body,
main {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: #262525;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
    padding: 0px 3%;
}

.logo {
    width: 5.8%;
    height: 58%;
    flex-shrink: 0;
    display: absolute;
    position: absolute;
    top: 25%;
    left: 0%;
}

.hero-tittle {
    color: #fff;
    font-family: "Apfel Grotezk";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero-text {
    width: 62%;
    color: #fff;
    font-family: "Apfel Grotezk";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#hero-span {
    font-weight: bold;
}


.box-container-service {
    display: flex;
    gap: 20px; /* Espacio entre las cajas */
    flex-wrap: nowrap; /* Permite que las cajas no se envuelvan en varias líneas */
}

.services {
    display: flex;
    justify-content: start;
    gap: 10px; /* Reduce el espacio entre los elementos */
}
.service {
    text-align: center;
    height: 35vh; /* Ajusta la altura según tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    position: relative;
    overflow: hidden; /* Asegura que el video no sobresalga del contenedor */
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.branding-fuga {
    width: 45em; /* Ajusta el ancho según tu imagen */
}

.branding-fuga2 {
    background-image: url("/branding-fuga2.png");
    width: 45em; /* Ajusta el ancho según tu imagen */
}


.services-titles {
    font-family: "Neue Haas Grotesk Display Pro";
    color: white;
    font-size: 3vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 3.5%;
    position: relative;
    z-index: 1; /* Asegura que el título esté por encima del video */
}

.buttons {
    display: flex;
    justify-content: start;
    padding: 3.5%;
    position: relative;
    z-index: 1; /* Asegura que los botones estén por encima del video */
}

.btn {
    color: white;
    border-color: white;
}

.btn:hover {
    transition: background-color 0.3s ease; /* Ajusta la transición para que solo afecte al color de fondo */
    background-color: black; /* Cambia el color de fondo a negro */
    color: white !important; /* Forza el cambio de color del texto a blanco */
}

.fade-scroll-container {
    position: relative;
}

.scroll-container {
    display: flex;
    overflow-x: scroll; /* Cambia de auto a scroll */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.scroll-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.fade-scroll-container::before, .fade-scroll-container::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px; /* Ajusta el ancho del fade */
    pointer-events: none;
    background: linear-gradient(to right, #262525, transparent);
    display: none; /* Por defecto, no se muestra */
}

.fade-scroll-container::after {
    right: 0;
    background: linear-gradient(to left, #262525, transparent);
}

.fade-scroll-container.has-scroll-left::before,
.fade-scroll-container.has-scroll-right::after {
    display: block; /* Mostrar cuando haya scroll */
}

.box-container {
    display: flex;
    gap: 20px; /* Espacio entre las cajas */
    flex-wrap: nowrap; /* Permite que las cajas no se envuelvan en varias líneas */
    margin-bottom: 10%;
}

.box {
    border-radius: 29px;
    background-color: white;
    width: 29%; /* Ajusta el ancho según tus necesidades */
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que el botón esté alineado correctamente */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); /* Añade sombra para dar profundidad */
}

.box .btn {
    color: black;
    border-color: black;
}

.box-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que el contenido esté alineado correctamente */
    height: 100%; /* Asegura que el contenido llene toda la altura del contenedor */
    padding: 0 5%;
}

.box-text {
    color: black;
    font-family: "ApfelGrotezkFett";
    font-size: 28.602px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    flex-grow: 1; /* Permite que el texto crezca para llenar el espacio disponible */
    margin-bottom: 20px; /* Añade margen inferior para separar el texto del botón */
    margin-top: -3%;
    margin-bottom: 10%;
}

.box-tittle {
    color: black;
    font-family: "ApfelGrotezkSatt";
    font-size: 28.602px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.complete-pack {
    border-radius: 29px;
    background: radial-gradient(
        216.91% 103.24% at 97.78% 8.48%,
        #b22a2a 0%,
        #7271d1 100%
    );
}

.complete-pack .btn:hover {
    transition: background-color 0.3s ease; /* Ajusta la transición para que solo afecte al color de fondo */
    background-color: black; /* Cambia el color de fondo a negro */
    color: white !important; /* Forza el cambio de color del texto a blanco */
    border-color: black;
}

.complete-pack .box-text, .complete-pack .box-tittle {
    color: white;
}

.complete-pack .btn {
    color: white;
    border-color: white;
}

.buttons-offering {
    padding: 1% 0 5% 0;
}

.offering-title {
    color: #fff;
    font-family: "Apfel Grotezk";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media only screen and (max-width: 1280px) 
{
    .service
    {
        height:45vh;
    }
    .branding-fuga {
    width: 35em; /* Ajusta el ancho según tu imagen */
}

.branding-fuga2 {
    width: 35em; /* Ajusta el ancho según tu imagen */
}
}

</style>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const checkScroll = (scrollContainer: HTMLElement, fadeScrollContainer: HTMLElement) => {
            if (scrollContainer.scrollLeft > 0) {
                fadeScrollContainer.classList.add('has-scroll-left');
            } else {
                fadeScrollContainer.classList.remove('has-scroll-left');
            }
            if (scrollContainer.scrollLeft + scrollContainer.clientWidth < scrollContainer.scrollWidth) {
                fadeScrollContainer.classList.add('has-scroll-right');
            } else {
                fadeScrollContainer.classList.remove('has-scroll-right');
            }
        };
    
        const initScrollFade = (containerId: string) => {
            const scrollContainer = document.getElementById(containerId);
            const fadeScrollContainer = scrollContainer?.parentElement as HTMLElement;
            if (!scrollContainer || !fadeScrollContainer) return;
    
            scrollContainer.addEventListener('scroll', () => checkScroll(scrollContainer, fadeScrollContainer));
            window.addEventListener('resize', () => checkScroll(scrollContainer, fadeScrollContainer));
            checkScroll(scrollContainer, fadeScrollContainer); // Initial check
        };
    
        initScrollFade('services-scroll-container');
        initScrollFade('offerings-scroll-container');
    });
    </script>
    